.container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(3, auto);
    }

    @media screen and (max-width: 800px) {
        grid-template-columns: repeat(2, auto);
    }
}