.container {
    padding: 0 16px;
}

.img {
    margin-top: 70px;
    width: 100dvw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.productTitle {
    padding-top: 20px;
    color: #171412;
    font-size: 22px;
    line-height: 28px;
    font-weight: 800;
}

.productDescription {
    padding-top: 12px;
    color: #171412;
    font-size: 16px;
    line-height: 24px;
}

.details {
    padding-top: 30px;
    color: #171412;
    font-size: 18px;
    line-height: 23px;
    font-weight: 800;
}

.priceContainer {
    padding: 16px;
    display: flex;
    justify-content: space-between;

    .priceButton,
    .addButton {
        color: #171412;
        width: 84px;
        height: 40px;
        border-radius: 20px;
        background-color: #F5F2F0;
        font-weight: 800;
        font-size: 14px;
        text-transform: none;
    }

    .addButton {
        width: 120px;
        background-color: #F27A21;
    }
}

.relatedTitle {
    padding-top: 16px;
    font-size: 18px;
    font-weight: 800;
    color: #171412;
    line-height: 23px;
}

.optionsWraper {
    margin: 10px 0;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #171412;

    .optionsButonBox {
        display: flex;
        gap: 10px;

        .optionButton {
            color: #171412;
            width: 84px;
            height: 40px;
            border-radius: 20px;
            background-color: #F5F2F0;
            font-weight: 800;
            font-size: 14px;
            text-transform: none;

            &.currentOptionButton {
                background-color: #F27A21;
            }
        }
    }
}