.header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    padding: 0 25px;

    .headerTitle {
        width: calc(100% - 100px);
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        color: #171412;
    }

    .cartIcon {
        svg {
            color: #171412;
        }
    }

    .burger {
        display: block;
        color: #171412;
    }

    &.firstPage {
        background-color: rgba(0, 0, 0, 0.228);

        .burger,
        .cartIcon {
            svg {
                fill: white;
            }
        }
    }
}

.drawer {
    background-color: white !important;
    width: 70%;
    padding-left: 10px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .link {
        height: 48px;
        width: 293px;
        border-radius: 24px;
        display: flex;
        align-items: center;
    }

    & button {
        color: #171412;
        text-transform: capitalize;
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        gap: 32px;
    }
}