.header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #283618;
    position: relative;

    & button {
        color: white;
    }

    .cartIcon {
        position: absolute;
        right: 100px;
    }
}