.container {
    padding-top: 70px;

    .filtersContainer {
        width: 100%;
        position: fixed;
        height: 48px;
        background-color: #fff;
        display: flex;
        gap: 32px;
        align-items: center;

        button {
            border-bottom: 3px solid #E5E8EB;
            text-transform: none;
            color: #8A7361;
            font-weight: 800;
            font-size: 14px;
            height: 48px;

            &.active {
                color: #171412;
            }
        }
    }

    .divider {
        color: #8A7361;
        margin-top: 48px;
    }
}

.productList {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 4px));
    gap: 8px;
    padding: 16px;
    justify-items: center;

    .product {
        width: 150px;
        height: 220px;
        color: #171412;
        text-decoration: none;

        .productImg {
            height: 150px;
            width: 100%;
            background-size: cover;
            background-position: center;
            border-radius: 12px;
        }

        .titleWrapper {
            padding-top: 12px;
            display: grid;
            grid-template-columns: 70% 25%;
            align-items: center;
            gap: 5px;

            .productPrice {
                text-align: right;
                font-size: 12px;
            }

            .productTitle {
                color: #171412;
                font-size: 12px;
                line-height: 15px;
                font-weight: 500;
            }

            .productSubtitle {
                color: #8A7361;
                font-size: 14px;
                line-height: 21px;
            }
        }

    }
}