.container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;

    .products {
        width: 900px;

        .table {
            position: relative;

            .tableBody {
                position: relative;
                top: 25px;

                .tableRow {

                    height: 160px;

                    &-odd {
                        background-color: #2c29260d;
                    }

                    & .productImg {
                        height: 120px;
                    }
                }
            }
        }
    }

    .subtotal {
        width: 300px;
        height: 366px;
        display: flex;
        flex-direction: column;
    }
}