.pageTitle {
    margin-top: 80px;
    text-align: center;
    color: #171412;
    font-size: 18px;
}

.productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;

    .product {
        width: calc(50% - 8px);

        .productImg {
            height: 231px;
            width: 100%;
            background-size: cover;
            border-radius: 12px;
        }

        .productTitle {
            padding-top: 12px;
            color: #171412;
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
        }

        .productSubtitle {
            color: #8A7361;
            font-size: 14px;
            line-height: 21px;
        }
    }
}